<h1>Shoppers#home</h1>
<div class="maincontainer">
  <div class="col-md-4 pull-right">
    <%= render 'shared/signup_form' %>
    <div class="col-md-8">
        <%= render 'shared/youtube_video' %>
    </div>
  </div>
</div>
