<h1>Funnels API</h1>
<!-- <a href="http://localhost:3000/funnels.json?start_date=2014-12-01&end_date=2014-12-31">Funnels 12/1/14 - 12/31/14</a> -->

<h2>
  <a href="https://ehsan-instacart.herokuapp.com/funnels.json?start_date=2014-12-01&end_date=2014-12-31">Funnels => 12/1/14 - 12/31/14</a>
</h2>
